[Unit]
Description=Docsify: documentation site generator
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="PATH=__PATH_WITH_NODEJS__"
Environment="NODE_ENV=production"
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/bin/docsify serve __INSTALL_DIR__/docs --no-open --port __PORT__
Restart=on-failure

[Install]
WantedBy=multi-user.target